[submodule "src/srsLTE"]
	path = src/srsLTE
	url = https://github.com/EFForg/srsLTE.git
[submodule "src/srsRAN_Project"]
	path = srsRAN_Project
	url = https://github.com/srsran/srsRAN_Project.git
[submodule "src/srsRAN"]
	path = src/srsRAN
	url = https://github.com/srsran/srsRAN_Project.git
